<%= form_for(@person) do |f| %>

  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="column-left">
  <div class="field">
    <%= f.label :first_name, "First Name:" %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, "Last Name:" %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email, "Email:" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone, "Phone: " %><br />
    <%= f.text_field :phone %>
  </div>
</div>
<div id="column-right">
  <div class="field">
    <%= f.label :school, "School: "%><br />
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label :state, "State: " %><br />
    <%= select_tag :state, options_for_select(us_states) %>
  </div>
  <div class="field">
    <%= f.label :title, "Title: " %><br />
    <%= select_tag :title, options_for_select(all_titles) %>
  </div>
</div>
  <div class="actions">
    <%= f.submit " " %>
  </div>
<% end %>
