<%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "Error") %> Prohibited this Lead from Being Saved.</h2>

      <ul>
      <% @lead.errors.full_messages.each do |msg| %>
        <% if msg == @lead.errors.full_messages.last %>
          <li><%= msg %></li>
        <% else %>
          <li><%= msg %>, </li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="float: right; margin-right: 150px;">
    <%= f.label :current, "Currently Using" %><br />
    <%= f.select :current, options_for_select(competitors, :selected => @lead.current) %>
  </div>
  <div class="field" style="margin-left: 150px; float: left;">
    <%= f.label :school_size, "School Enrollment Size:" %><br />
    <%= f.text_field :school_size %>
  </div>

<div id="checkboxes-wrap">
  <div class="field">
    <label class="box-scheduling">
      <%= f.check_box :scheduling %>
      <span></span>
    </label>
  </div>
  <div class="field">
    <label class="box-registration">
    <%= f.check_box :registration %>
      <span></span>
    </label>
  </div>
  <div class="field" style="margin-right: 0;">
    <label class="box-spirit">
    <%= f.check_box :spirit %>
      <span></span>
    </label>
  </div>
  <div class="field">
    <label class="box-fundraising">
    <%= f.check_box :fundraising %>
      <span></span>
    </label>
  </div>
  <div class="field">
    <label class="box-camps">
    <%= f.check_box :camps %>
      <span></span>
    </label>
  </div>
  <div class="field" style="margin-right: 0;">
    <label class="box-boosters">
    <%= f.check_box :boosters %>
      <span></span>
    </label>
  </div>
</div>
  <div class="actions">
    <%= f.submit " "%>
  </div>
<% end %>
