<h1>Listing leads</h1>

<table>
  <tr>
    <th>Scheduling</th>
    <th>Registration</th>
    <th>Spirit</th>
    <th>Fundraising</th>
    <th>Camps</th>
    <th>Boosters</th>
    <th>Current</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leads.each do |lead| %>
  <tr>
    <td><%= lead.scheduling %></td>
    <td><%= lead.registration %></td>
    <td><%= lead.spirit %></td>
    <td><%= lead.fundraising %></td>
    <td><%= lead.camps %></td>
    <td><%= lead.boosters %></td>
    <td><%= lead.current %></td>
    <td><%= lead.person_id %></td>
    <td><%= link_to 'Show', lead %></td>
    <td><%= link_to 'Edit', edit_lead_path(lead) %></td>
    <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lead', new_lead_path %>
