<!DOCTYPE html>
<html>
<head>
  <title>8to18 | Athletics 2000 | Booth Check In</title>
  <link rel="icon" 
      type="image/png" 
      href="<%= asset_path("favicon.png")%>">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
	
	<div id="wrap">

		<%= yield %>
	
	</div>

</body>
</html>
